<VirtualHost *:80>
    ServerName <%= @domain %>
    ServerAlias www.<%= @domain %>
    ServerAdmin webmaster@localhost
    DocumentRoot <%= @doc_root %>/<%= @domain %>
    <Directory <%= @doc_root %>/<%= @domain %>>
        Options Indexes FollowSymLinks
        AllowOverride None
        Require all granted
    </Directory>

</VirtualHost>
